.DS_Store
*.egg-info
*.pyc
*.pyo
*.sqlite
*.~*
*credentials.json*
.cache
.coverage
.idea
.tox
coverage.xml
flake.out
pep8.out
pytest.xml
.pytest_cache
settings_local.py
~*
/dist
/build
.idea/
volumes
.env
.envrc
.venv/
venv/
